html, body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height: 90vh;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: cover;
  -ms-flex-pack: cover;
  -webkit-box-align: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-box-pack: cover;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background: url("../images/bg2.jpg") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

h1, label {
  color: white;
}

#content {
  display: block;
  padding: 5%;
  overflow: auto;
}

.top-text {
  margin: 25px auto;
  position: relative;
  bottom: 20px;
  word-wrap: break-word;
  overflow: auto;
}

.form-signup, .form-signin {
  background: rgba(43, 41, 41, 0.6);
  border-radius: 25px;
  border: 2px solid #000000;
  width: auto;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sing-up {
  display: block;
}

#id_password2 {
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Wallet add-ons */

.fa-wallet {
  position: relative;
  bottom: 25px;
  color: #c2c2c2;
  padding: 0 100px 0 100px;
}

#your-balance {
  margin-bottom: 50px;
  word-break: break-all;
}

button {
  background-color: transparent;
  border: 0;
}

.fas {
  background-color: transparent;
}

.fa-plus {
  color: green;
  margin-right: 25px;
}

.fa-minus {
  color: red;
}
