html, body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height: 100vh;
}

h2 {
  color: #c2c1c9;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
  display: inline;
}

h3, td{
  font-size: 1.5rem;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

i {
    background-color:transparent;
}


.container-fluid {
  padding: 0 5% 2% 5%;
}


#main-page {
  text-align: left;
}

/* NavBar Section */

nav {
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  height: 6vh;
}

.nav-item {
  font-size: 1.2rem;
  padding-right: 25px;
}

.dropdown-toggle {
  padding-top: 5%;
}


/* Top Windows Section */

.row {
  padding-top: 3%;
}

#your-balance {
  color: black;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  display: inline;
}

.arrow-up {
  margin-left: 2%;
  color: green;
}

.table-responsive {
  height: 250px !important;
  overflow: scroll;
}

.td-plus {
  color: green;
}

.td-minus {
  color: red;
}

.strategy-table {
  padding-left: 7%;
}

.bot-select-label {
  padding-top: 5%;
  padding-left: 60%;
  margin-bottom: 0;
  text-align: right;
  display: inline-block;
  color: #c2c1c9;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
}

#strategy-form {
  width:auto;
  display:inline-block;
  margin-left: 2%;
}

.btn-delete {
  padding: 0;
}

.add-button {
  display: inline;
  padding: 0;
}

h3.add-button{
  padding-left: 20px;
}

/* Chart Section */

.history-text {
  color: #c2c1c9;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: left;
}

.chart-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.stock-img {
  max-width: 100%;
  max-height: 70%;
}
