html, body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height: 100vh;
  background-color: #19191c;
}

h2 {
  color: #c2c1c9;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
  display: inline;
}

h3, td{
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  height: 65px;
}

h6 {
  display: inline;
  color: white;
  margin: 0;
}

th {
  color: #c2c1c9;
}

i {
    color: white;
    background-color:transparent;
}

button {
  background-color: transparent;
  border: 0;
}

.container-fluid {
  padding: 0 5% 2% 5%;
}


#main-page {
  text-align: left;
}

/* NavBar Section */

nav {
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  height: 6vh;
}

.nav-item {
  font-size: 1.2rem;
  padding-right: 25px;
}

.dropdown-toggle {
  padding-top: 5%;
}


/* Top Windows Section */

.row {
  padding-top: 0%;
}

.specificator {
  min-height: 120px;
}

.specificator .balance {
  width: max-content;
}

.right_stats {
  display: flex;
  justify-content: space-between;
}

.balance {
  position: relative;
  top: 0px;
}

.wallet {
  position: relative;
  top: -15px;
}

#your-balance {
  color: white;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  display: inline;
  margin-left: 20px;
}

.arrow-up {
  margin-left: .2em;
  color: green;
}

.arrow-down {
  margin-left: .2em;
  color: red;
}

.table-responsive {
  overflow-y: scroll;
  overflow-x: hidden;
}

.td-plus {
  color: green;
}

.td-minus {
  color: red;
}

.form-group {
  padding-top: 55px;
}

.bot-state {
  color: white;
  width: min-content;
  white-space: nowrap;
  display: flex;
}

.bot-state h6 {
  display: block;
  margin: auto;
}

.bot-select-div {
  display: block;
  margin: auto;
  margin-right: 0;
}

.bot-select-label {
  margin-bottom: 0;
  display: inline-block;
  color: #c2c1c9;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
}

/* The popup form - hidden by default */
.form-popup {
  text-align: center;
  display: none;
  top: 174px;
  left: 50%;
  position: fixed;
  z-index:999;
  cursor:default;
  background: #000000;
  border-radius: 25px;
  border: 2px solid rgba(43, 41, 41, 0.6);
  width: 300px;
  padding: 15px;
  margin-left:-150px;
  font-weight: 400;
}

.button-form {
  text-align: center;
  background-color: transparent;
  border: 2px solid #ffffff;
  margin-right: 10px;
  margin-top: 30px;
}

.fa-play, .fa-stop {
  display: inline;
  padding-left: 10px;
}

.fa-play {
  color: green;
}

.fa-stop {
  color: red;
}

.fa-off {
  opacity: 0.2;
}

.play-button {
  display: block;
  margin: auto;
  margin-left: 20px;
}
 .btn-start-stop {
	 position: relative;
	 width: 40px;
	 height: 40px;
	 border: white 3px solid;
	 border-radius: 3px;
	 cursor: pointer;
	 transition: border 0.1s ease-in-out;
}
 .btn-start-stop:hover {
	 border: #c9c9c9 3px solid;
}
 .btn-start-stop:hover .bar {
	 background-color: #c9c9c9;
}
 .btn-start-stop .bar {
	 display: inline-block;
   position: relative;
   top: 7px;
   left: -3px;
	 width: 3px;
	 height: 20px;
	 border-radius: 3px;
	 background-color: white;
	 transform-origin: center;
	 transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
}

 .bar-2 {
   left: -10px !important;
 }

 .btn-start-stop.pause .bar-1 {
	 transform: translateX(13.5px) translateY(0px) rotate(0deg);
}
 .btn-start-stop.pause .bar-2 {
	 transform: translateX(24px) translateY(0px) rotate(0deg);
}
 .btn-start-stop.play .bar-1 {
	 transform: translateX(20px) translateY(-5px) rotate(-55deg);
}
 .btn-start-stop.play .bar-2 {
	 transform: translateX(20px) translateY(5px) rotate(-125deg);
}


.strategy-form {
  width:auto;
  display:inline-block;
  background-color: black;
  color: white;
}

.btn-delete {
  padding: 0;
}

.add-button {
  display: flex;
  padding: 0;
  font-size: 1.5rem;
}

h3.add-button{
  padding-left: 20px;
}

/* Chart Section */

.history-text {
  color: #c2c1c9;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: left;
}

.chart-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  max-height: 45vh;
}

.stock-img {
  max-width: 100%;
  max-height: 70%;
}

@media (min-width: 501px) {
  .strategy {
    padding-left: 25px;
  }
  
  .table-responsive {
    max-height: 250px !important;
  }
}

@media (max-width: 500px) {
  .chart-text {
    max-height: 200px;
  }

  select.strategy-form {
    display: block;
    margin: auto;
    margin-right: 0;
  }

  .bot-select-label {
    display: none;
  }
  .table {
    font-size: 1.2rem;
  }

  .table-responsive {
    height: auto;
  }

  .strategy {
    padding-left: 25px;
  }
  
  .specificator {
    min-height: 60px;
  }

  #your-balance {
    font-size: 2rem;
  }
}
