{% extends 'base.html' %}

{% block title %} Wallet {% endblock %}


{% block content %}
    <form class="form-signup" method="POST">
      {% csrf_token %}
      <h1 class="mb-3 top-text" id="wallet-title">Wallet</h1>
      <i class="fas fa-wallet fa-7x"></i>
      <div class="form-group">
        <h1 id="your-balance"> {{balance}}$</h1>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="amount" required="true" id="id_number" step="any" placeholder="Enter value">
      </div>
      <button id="plusButton" type="submit" value='add' name="add"><i class="fas fa-plus fa-5x"></i></button>
      <button id="minusButton" type="submit" value='subtract' name="substract"><i class="fas fa-minus fa-5x"></i></button>
      <a href="/home/"><small class="form-text text-muted">Go back to Trading Bot</small></a>
    </form>
    {% if messages.0 == "Transaction success"  %}
      <div class="alert alert-success">
        <strong>{{messages.0|escape}}</strong>
      </div>
    {% else %}
    {% for message in messages %}
      <div class="alert alert-danger">
        <strong>{{ message|escape }}</strong>
      </div>
    {% endfor %}
    {% endif %}
{% endblock %}
