{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}
<form class="form-signup" method="POST">
  {% csrf_token %}

  <h1 class="mb-3 top-text">SignUp form</h1>
  <div class="form-group">
    <label for="username">Username</label>
    {{form.username}}
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    {{form.email}}
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    {{form.password1}}
    {{form.password2}}
  </div>
  <button id="signupButton" type="submit" class="btn btn-lg btn-outline-light" value='Submit'>Create free
    account</button>
</form>
{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}

<script>
  // Get fields and add placeholders
  const form_fields = document.getElementsByTagName('input');
  form_fields[1].placeholder = "Username";
  form_fields[2].placeholder = "Email";
  form_fields[3].placeholder = "Enter Password";
  form_fields[4].placeholder = "Re-enter password";

  for (const field of form_fields) {
    field.classList.add("form-control");
  }

  form_fields[3].classList.add("textinput", "textInput");
  form_fields[4].classList.add("textinput", "textInput");
</script>
{% endblock %}
