<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %} Log In {% endblock %}


{% block content %}
<form method="POST" class="form-signin">
  {% csrf_token %}
  <h1 class="mb-3 top-text">Welcome Back!</h1>
  <label for="inputUsername" class="sr-only">Username address</label>
  <input type="username" name="username" id="inputUsername" class="form-control" placeholder="Username address" required
    autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-outline-light" type="submit">Log in</button>
  <a href="{% url 'register' %}" class="mt-5 mb-3 text-muted sing-up">Not a member? Register here</a>
</form>
{% for message in messages %}
<div class="alert alert-danger">
  <strong>{{message}}</strong>
</div>
{% endfor %}
{% endblock %}
