{% extends 'base.html' %}

{% block title %} Trading Bot {% endblock %}

{% block css %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
{% load static %}
<link rel="stylesheet" href="{% static 'css/home_styles_dark.css' %}">
{% endblock %}


{% block content %}
<div id="main-page">
  <section class="main-page" id="top-windows">
    <div class="container-fluid">


      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="">
          <img src="{% static 'images/icon-company.png' %}" width="45" height="45" class="d-inline-block align-top"
            alt="" loading="lazy">
          Trading Bot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                You are logged as: {{user}}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'wallet' %}">My wallet</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>


      {% for message in messages %}
        <div class="alert alert-danger">
          <strong>{{ message|escape }}</strong>
        </div>
      {% endfor %}


      <!-- Title -->

        <div class="row">
          <div class="col-lg-6 balance">
            <div class="specificator">
              <div class="balance">
                <h2 class="balance-text">Balance:</h2><h1 id="your-balance">{{balance}}$</h1>
                <i id="balance-arrow" class="fas fa-angle-double-up fa-light fa-3x arrow-up"></i>
              </div>
              <div class="wallet">
                <a href="/wallet/"><h2 class="wallet-text">Wallet:&emsp;&emsp;</h2><h2 id="your-wallet">{{wallet}}$</h2></a>
                <i id="balance-arrow" class="fas fa-angle-double-up fa-light fa-2x arrow-up"></i>
              </div>
            </div>
            <div class="table-responsive balance-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>Symbol</th>
                    <th>Qty</th>
                    <th>Value</th>
                    <th>%Change</th>
                  </tr>
                </thead>
                <tbody id="stocks">
                  {% for stock in stocks %}
                    <tr>
                    {% for elem in stock %}
                      {% if forloop.counter0 == 2 %}
                        <td>{{elem}}$</td>
                      {% elif forloop.counter0 == 3 %}
                        {% if elem >= 0 %}
                          <td class="td-plus">+{{elem}}%</td>
                        {% else %}
                          <td class="td-minus">{{elem}}%</td>
                        {% endif %}
                      {% else %}
                        <td>{{elem}}</td>
                      {% endif %}
                    {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-6 strategy">
            <div class="specificator right_stats">
              <div class="bot-state">
                <h6>Bot state: <strong id="bot_running">{{ bot_running|yesno:"Running,Stopped,unknown" }}</strong></h6>
                <div class="play-button">
                  {% if bot_running %}
                  <div class="btn-start-stop pause">
                    <span class="bar bar-1"></span>
                    <span class="bar bar-2"></span>
                  </div>
                  {% else %}
                  <div class="btn-start-stop play">
                    <span class="bar bar-1"></span>
                    <span class="bar bar-2"></span>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="bot-select-div">
                <label for="strategy-form" class="bot-select-label ">Bot type:</label>
                <select class="form-control strategy-form shortened-select" id="bot-type">
                  {% for i in range_bot %}
                    {% if i.1 == bot_id %}
                      <option selected="selected" value="{{i.1}}" data-descr="{{i.0}}"></option>
                    {% else %}
                      <option value="{{i.1}}" data-descr="{{i.0}}"></option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="table-responsive strategy-table">
              <table class="table" id="table"
                data-toggle="table">
                <thead>
                  <tr>
                    <th>Symbol</th>
                    <th>% invest</th>
                    <th>
                      <button type="button" class="btn btn-lg add-button open-button" onclick="openForm()">
                        <i class="far fa-plus-square"></i></button>
                      <div class="form-popup" id="myForm">
                        <form class="form-container" method="POST" autocomplete="off">
                          {% csrf_token %}

                          <h1>Add stock</h1>

                          <label><b>Stock</b></label>
                          <select class="form-control" name="stock-selected">
                          {% for stock in all_stocks %}
                              <option value="{{stock.0}}">{{stock.0}} ({{stock.1}})</option>
                          {% endfor %}
                          </select>
                          <button type="submit" class="btn btn-lg btn-outline-light button-form" value='add' name="add">Add</button>
                          <button type="button" class="btn btn-lg btn-outline-light button-form" onclick="closeForm()">Close</button>
                        </form>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for stock in bot_presets %}
                    <tr>
                      <td>{{stock.0}}</td>
                      <td>
                        <select class="form-control strategy-form" onchange="updateInvestments('{{stock.0}}', this.value)">
                        {% for percent in range_invest %}
                          {% if percent == stock.1 %}
                            <option selected="selected">{{percent}}%</option>
                          {% else %}
                            <option>{{percent}}%</option>
                          {% endif %}
                        {% endfor %}
                        </select>
                      </td>
                      <td><button value='{{stock.0}}' onclick="deleteStock('{{stock.0}}')" name="delete" class="btn btn-lg btn-delete"><span style="font-size: 1.2em;"><i class="fas fa-trash-alt"></i></<span></span></button></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Chart -->
  <section class="main-page" id="chart">
    <div class="container-fluid">
      <div class="col-lg-12 chart-text">
        <h1 class="history-text">History</h1>
        <canvas id="myChart1" width="400" height="120"></canvas>
      </div>
    </div>
  </section>
</div>
<script src="{% static 'js/main-page.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script>
  // Download stocks values at the very beggining
  getStocksValues();

  const second = 1000 // second is 1000 miloseconds
  const interval = 45 * second;
  setInterval(() => {
    getWallet();
    getUserQuantity();
    getStocksValues();
  }, interval);

  let stocks = {{stocks_js | safe}};
  let last30 = {{last30 | safe}}
  let balanceHistory = {{balanceHistory | safe}}
  createChart(stocks, last30, balanceHistory);

  const button = document.querySelector('.btn-start-stop');
  const text = document.querySelector('#bot_running');
  button.addEventListener('click', event => {
  event.preventDefault();
  if (button.classList.contains('play')) {
    button.classList.replace('play', 'pause');
    text.textContent = "Running";
    startBot()
  } else {
    button.classList.replace('pause', 'play');
    text.textContent = "Stopped";
    stopBot()
  }
  });
</script>
{% endblock %}
